@import'normalize.css';

$very_light_grayish_blue: hsl(240, 78%, 98%);
$light_grayish_blue: hsl(234, 14%, 74%);
$grayish_blue: hsl(233, 13%, 49%);
$dark_grayish_blue: hsl(232, 13%, 33%);
$white: #fdfdff;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
$montserrat: 'Montserrat', sans-serif;


html {
    min-height: 100%;
}

body {
    font-family: $montserrat, sans serif;
    font-size: 15px;
    margin: 0;
    background-image: url(../images/bg-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 180px -50px;
    background-color: $very_light_grayish_blue;

    @media screen and (min-width: 1200px) {
        background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: right top, left bottom;
        background-size: 20%, 20%;
    }
}

/* Header
------------------------------------------------------------------------------ */
.header__title {
    color: $grayish_blue;
    text-align: center;
    margin: 3rem;
}

.header__content {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;

    @media screen and (min-width: 1200px) {
        justify-content: space-evenly;
        margin: 3rem 25rem;
    }
}

.header__content p {
    margin: 0.5rem 1rem;
    color: $light_grayish_blue;
}

/* Sections
-------------------------------------------------------------------------------*/
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        display: flex; 
        flex-direction: row;
    }
}

.card,
.card-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1.5rem auto;
    padding: 1rem;
    box-shadow: 0 4px 5px $light_grayish_blue;
    border-radius: 10px;
    color: $grayish_blue;
    background-color: $white;

    @media screen and (min-width: 700px) {
        width: 60%;
    }

    @media screen and (min-width: 1200px) {
        width: 25%;
    }
} 

.card-blue {
    background-image: linear-gradient(to left top,  hsl(237, 63%, 64%), hsl(236, 72%, 79%));
    color: $white;

    @media screen and (min-width: 1200px) {
        padding-top: 2rem;
        margin-left: -10%;
        margin-right: -10%;
        height: 73vh;
        z-index: 100;
    }
}

.card__title {
    color: $grayish_blue;
} 

/*
------------------------------------------------------------------------------  */
.card__price {
    font-size: 3rem;
    color: $grayish_blue;
    margin: 1rem;
}

.card-blue__price{
    font-size: 3rem;
    color: $white;
    margin: 1rem;
}

/* Details
---------------------------------------------------------------------------------*/
.card p:nth-child(4) {
    border-top: 1px solid $light_grayish_blue;
    border-bottom: 1px solid $light_grayish_blue;
    padding: 1rem;
    width: 75%;
    text-align: center;
}

.card p:nth-last-child(-n+3) {
    border-bottom: 1px solid $light_grayish_blue;
    margin-top: 0;
    padding: 1rem;
    width: 75%;
    text-align: center;
}

.card-blue p:nth-child(4) {
    border-top: 1px solid $very_light_grayish_blue;
    border-bottom: 1px solid $very_light_grayish_blue;
    padding: 1rem;
    width: 75%;
    text-align: center;
}

.card-blue p:nth-last-child(-n+3) {
    border-bottom: 1px solid $very_light_grayish_blue;
    margin-top: 0;
    padding: 1rem;
    width: 75%;
    text-align: center;
}


// Classes for toggle
.card .monthly {
    display: none;
}

.show-monthly .card .monthly {
    display: block;
}

.show-monthly .card .annually {
    display: none;
}

/* Buttons 
---------------------------------------------------------------------------------*/
.card__btn--white,
.card__btn--blue {
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0.8rem 0.5rem;
    margin: 1rem 0;
    color: $white;
    width: 90%;
}

.card__btn--white {
    background-color: $white;
    color: hsl(237, 63%, 64%);
    border: 1px solid  $white;

    @media screen and (min-width: 992px) {
        &:hover {
            background-image: linear-gradient(to left top,  hsl(237, 63%, 64%), hsl(236, 72%, 79%));
            border: 1px solid $very_light_grayish_blue;
            color: $white;
            cursor: pointer;
        }
    }
}

.card__btn--blue {
    background-image: linear-gradient(to left top, hsl(237, 63%, 64%), hsl(236, 72%, 79%));
    border: 1px solid hsl(236, 72%, 79%);

    @media screen and (min-width: 992px) {
        &:hover {
            background-image: linear-gradient($white, $white);
            border: 1px solid hsl(237, 63%, 64%);
            color: hsl(237, 63%, 64%);
            cursor: pointer;
        }
    }
}

/* Switch
---------------------------------------------------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Attribution
--------------------------------------------------------------------------------- */
.attribution {
    font-size: 11px;
    text-align: center;
    color: $light_grayish_blue;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}