@import url(c:\Users\EXO\Documents\pricing-component-with-toggle-master\styles\normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
html {
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif, sans serif;
  font-size: 15px;
  margin: 0;
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 180px -50px;
  background-color: #f6f6fe;
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
    background-size: 20%, 20%;
  }
}

/* Header
------------------------------------------------------------------------------ */
.header__title {
  color: #6d708d;
  text-align: center;
  margin: 3rem;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2rem auto;
}

@media screen and (min-width: 1200px) {
  .header__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 3rem 25rem;
  }
}

.header__content p {
  margin: 0.5rem 1rem;
  color: #b3b5c6;
}

/* Sections
-------------------------------------------------------------------------------*/
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card,
.card-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 1.5rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0 4px 5px #b3b5c6;
          box-shadow: 0 4px 5px #b3b5c6;
  border-radius: 10px;
  color: #6d708d;
  background-color: #fdfdff;
}

@media screen and (min-width: 700px) {
  .card,
  .card-blue {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .card,
  .card-blue {
    width: 25%;
  }
}

.card-blue {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#696fdd), to(#a3a8f0));
  background-image: linear-gradient(to left top, #696fdd, #a3a8f0);
  color: #fdfdff;
}

@media screen and (min-width: 1200px) {
  .card-blue {
    padding-top: 2rem;
    margin-left: -10%;
    margin-right: -10%;
    height: 70vh;
    z-index: 100;
  }
}

.card__title {
  color: #6d708d;
}

/*
------------------------------------------------------------------------------  */
.card__price {
  font-size: 3rem;
  color: #494c5f;
  margin: 1rem;
}

.card-blue__price {
  font-size: 3rem;
  color: #fdfdff;
  margin: 1rem;
}

/* Details
---------------------------------------------------------------------------------*/
.card__list {
  list-style-type: none;
  border-top: 1px solid #b3b5c6;
  padding: 0;
  text-align: center;
  width: 90%;
}

.card__list .details {
  border-bottom: 1px solid #b3b5c6;
  margin: 0 auto;
  padding: 1rem;
}

.card .monthly {
  display: none;
}

.show-monthly .card .monthly {
  display: block;
}

.show-monthly .card .annually {
  display: none;
}

/* Buttons 
---------------------------------------------------------------------------------*/
.card__btn--white,
.card__btn--blue {
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0.8rem 0.5rem;
  margin: 1rem 0;
  color: #fdfdff;
  width: 90%;
}

.card__btn--white {
  background-color: #fdfdff;
  color: #696fdd;
  border: 1px solid #fdfdff;
}

@media screen and (min-width: 992px) {
  .card__btn--white:hover {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#696fdd), to(#a3a8f0));
    background-image: linear-gradient(to left top, #696fdd, #a3a8f0);
    border: 1px solid #f6f6fe;
    color: #fdfdff;
    cursor: pointer;
  }
}

.card__btn--blue {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#696fdd), to(#a3a8f0));
  background-image: linear-gradient(to left top, #696fdd, #a3a8f0);
  border: 1px solid #a3a8f0;
}

@media screen and (min-width: 992px) {
  .card__btn--blue:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdff), to(#fdfdff));
    background-image: linear-gradient(#fdfdff, #fdfdff);
    border: 1px solid #696fdd;
    color: #696fdd;
    cursor: pointer;
  }
}

/* Switch
---------------------------------------------------------------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Attribution
--------------------------------------------------------------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
  color: #b3b5c6;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */